* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.main{
    position:static;
}
.first-heading{
    color: red;
}
.Parking{
    width: 70%;
}
.form-control{
    border-color: red;
    width: 100%;
    height: 40px;
}

.form-control-2{
    border-color: red;
    width:40%;
    height: 40px;
    margin-top: 10px;
}
.card{

    width: 25%;
    height: 400px;
   margin: auto;
   border-radius: 10px;
   
}
.card-parking{
    width: 23%;
    height: 400px;
   margin: auto;
   border-radius: 10px;
   border: 1px solid black;
}
.btn{
    border-radius: 40px;
    background-color: red;
    color: white;
    margin-top: 20px;
    padding: 15px;
    text-align: center;
    margin-left: 100px;
}


.car2{
    background-color:red ;
    width: 100%;
    height: 500px;
    /* margin-top: 20px; */
}

.subs{
    
    text-align: center;
    justify-content: center;

}
.finder{
    color: white;
    padding-top: 40px;
    
}

.Spot-Finder{
    width: 80%;
border-radius: 10px;
    margin-left: 150px;
}
.image{
    background-image: url(./img/bg\ image.PNG);
}
.Partner{
    position: absolute;
}
.Partner2{
    position: relative;
    text-align: center;
    color: white;
}


.container {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 20px;
  } 
 
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }




.find{
    text-align: center;
    margin-top: 20px;
}





/* footer */
.About{
    color: red;
}